In [76]:
import pandas as pd

In [77]:
df = pd.read_table('byOrderDataInput/CfOrSeq.FASTA', header = None)

In [78]:
df2 = pd.read_table('byOrderDataInput/CfOrTMData.txt', header = None)

In [79]:
df.shape

(704, 1)

In [80]:
df2.shape

(6919, 1)

In [89]:
#for x in range(0,100):
#    print(df2[0][17*x][5:])

In [82]:
df2[0][17]

'ID   CfOr2'

In [83]:
df[0][2][1:]

'CfOr198'

In [84]:
df[0][2]

'>CfOr198'

In [85]:
df.shape[0]

704

In [86]:
j=0
for k in range(j,j+17):
    print(df2[0][k])

ID   CfOrco
FT   DOMAIN        1     42       NON CYTOPLASMIC.
FT   TRANSMEM     43     65
FT   DOMAIN       66     72       CYTOPLASMIC.
FT   TRANSMEM     73     91
FT   DOMAIN       92    101       NON CYTOPLASMIC.
FT   TRANSMEM    102    122
FT   DOMAIN      123    133       CYTOPLASMIC.
FT   TRANSMEM    134    155
FT   DOMAIN      156    202       NON CYTOPLASMIC.
FT   TRANSMEM    203    227
FT   DOMAIN      228    342       CYTOPLASMIC.
FT   TRANSMEM    343    364
FT   DOMAIN      365    375       NON CYTOPLASMIC.
FT   TRANSMEM    376    396
FT   DOMAIN      397    481       CYTOPLASMIC.
//

In [87]:
open('byOrderData_Output.txt', 'w').close() #Makes and empty file
with open ('byOrderData_Output.txt','w') as f:
    for i in range(0,df.shape[0],2):
        for j in range (0,df2.shape[0],17):
            if str(df[0][i][1:])==str(df2[0][j][5:]):
                for k in range(j,j+17):
                    f.write(df2[0][k]+'\n')

In [88]:
df3 = pd.read_table('byOrderData_Output.txt', header = None)
df3.shape

(5984, 1)

In [90]:
17*704/2

5984.0