# Initial editing Note to be careful of spaces; check orginal file CfOrco should not have an additional space CfOrco_

In [104]:
import pandas as pd

In [105]:
df = pd.read_table('byOrderInput/CfOrOrder.txt', header = None)
df.head()

         0
0   CfOrco
1  CfOr198
2  CfOr192
3  CfOr197
4  CfOr199

In [106]:
for x in range(0,352):
    df[0][x]= '>'+df[0][x]

# Check if at desired format ('>ZnOr##') for every line

In [107]:
df.tail()

            0
347  >CfOr140
348  >CfOr139
349  >CfOr149
350  >CfOr153
351  >CfOr150

# Add list of sequence in fasta form (>ZnOr23 \n MMMMM)

In [108]:
df2=pd.read_csv('byOrderInput/CfOrSeq.FASTA', header = None)
df2.shape

(814, 1)

In [109]:
iterator=0

In [110]:
open('byOrder_Output.txt', 'w').close() #Makes and empty file
with open ('byOrder_Output.txt','w') as f:
    for i in range(0,352):
        for j in range (0,814,2):
            if str(df[0][i])==str(df2[0][j]):
                f.write(df[0][i]+'\n'+df2[0][j+1]+'\n')
                iterator=iterator+1
                
f.close

In [111]:
print(iterator)

352